/**
 * Text Alignment Utilities
 * Version: 0.6.0
 */

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-justify { text-align: justify !important; }
