/**
 * Adlaire Architect CSS Framework
 * Main Entry Point
 * 
 * Version: 0.1.0
 * License: TBD (MIT推奨)
 * Author: Adlaire Group DX事業セグメントグループ
 * 
 * すべてのモジュールを統合
 */

/* ========================================
   CORE
   ======================================== */
@import url('./core/layers.css');
@import url('./core/reset.css');

/* ========================================
   TOKENS
   ======================================== */
@import url('./tokens/adlaire-brand.css');
@import url('./tokens/root.css');

/* ========================================
   LAYOUTS
   ======================================== */
@import url('./layouts/container.css');

/* ========================================
   COMPONENTS
   ======================================== */
@import url('./components/buttons.css');

/* ========================================
   UTILITIES
   ======================================== */
/* TODO: 今後追加予定 */

/* ========================================
   THEMES
   ======================================== */
/* TODO: 今後追加予定 */
